/*Desktop*/
@media screen and (min-width: 767px) {
    #registrationMobile{
        display: none;
    }
}

/*Mobile*/
@media screen and (max-width: 767px) {
    #registrationDesktop{
        display: none;
    }
}