/*Desktop*/
@media screen and (min-width: 767px) {
    #youthMobile{
        display: none;
    }
}

/*Mobile*/
@media screen and (max-width: 767px) {
    #youthDesktop{
        display: none;
    }
}