/*Desktop*/

@media screen and (min-width: 767px) {
    hr.line1{
        border: 1px solid saddlebrown;
    }

    .desktopMobile{
        display: none;
    }
    .standard-left-buttons {
        height: 4em;
        width: 100%;
        color: white;
        border-radius: 15px;
    }
    .standard-left-button-headers {
        margin-left:2em;
        color: white;
    }
    .supplyChain{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .transformation{
        background: grey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .businessIncubation{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .loanManagement{
        background: grey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .fundManagement{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .privateEquity{
        background: grey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }


}

/*Mobile*/
@media screen and (max-width: 767px) {
    hr.line1{
        border: 1px solid saddlebrown;
    }
    .desktopDocuments{
        display: none;
    }

}
