/*Desktop*/
@media screen and (min-width: 767px) {
    #loginMobile{
        display: none;
    }
}

/*Mobile*/
@media screen and (max-width: 767px) {
    #loginDesktop{
        display: none;
    }
}
