/*Desktop*/
@media screen and (min-width: 767px) {
    .servicesMobile{
        display: none;
    }
    .homepage{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .abt{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ourpeople{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .ourMeth{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .serv{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .docu{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .cntUS{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .standard-left-buttons {
        height: 4em;
        width: 100%;
        color: white;
        border-radius: 15px;
    }
    .standard-left-button-headers {
        margin-left:2em;
        color: white;
    }
    .ourservices{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .corporateFinance{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .valueAdded{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .businessInc{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .trainingSkills{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .supply{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

}

/*Mobile*/
@media screen and (max-width: 767px) {
    .modal{
        width: 300px;
        margin:0 auto;
    }
    .servicesDesktop{
        display: none;
    }
    .homepage{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .abt{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ourpeople{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .ourMeth{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .serv{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .docu{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .cntUS{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .standard-left-buttons {
        height: 4em;
        width: 100%;
        color: white;
        border-radius: 15px;
    }
    .standard-left-button-headers {
        margin-left:2em;
        color: white;
    }
    .ourservices{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .corporateFinance{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .valueAdded{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .businessInc{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .trainingSkills{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .supply{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

}
