
/**********************Desktop*******************/

@media screen and (min-width: 787px) {
    .About {
        background: url('/images/TagsImages/frame1.png');
        background-size: cover;
        /*background-position: top;*/
        height: 60vh;
        position: relative;
        cursor: pointer;

    }

    .About:hover {
        -webkit-filter: grayscale(0.5) blur(0.2px);
    }

    #AboutTxt {
        text-decoration-style: solid;
        color: white;
        font-size: 2em;
        cursor: pointer;
        margin-top:45vh;
        text-shadow: 5px 3px 1px #000000;

    }
    #AboutTxt:hover{
        COLOR: saddlebrown;
        TEXT-DECORATION: none;
    }
    .Team {
        background: url('/images/TagsImages/frame2.png');
        background-size: cover;
        /*background-position: top;*/
        height: 60vh;
        position: relative;
        cursor: pointer;
    }

    .Team:hover {
        -webkit-filter: grayscale(0.5) blur(0.2px);
    }

    #TeamTxt {
        text-decoration-style: solid;
        color: white;
        font-size: 2em;
        margin-top:45vh;
        cursor: pointer;
        top:45vh;
        text-shadow: 5px 3px 1px #000000;

    }

    .Services {
        background: url('/images/TagsImages/frame3.png');
        background-size: cover;
        /*background-position: top;*/
        height: 60vh;
        position: relative;
        cursor: pointer;
    }

    .Services:hover {
        -webkit-filter: grayscale(0.5) blur(0.2px);
    }

    #ServicesTxt {
        text-decoration-style: solid;
        color: white;
        font-size: 2em;
        margin-top:45vh;
        cursor: pointer;
        top:45vh;
        text-shadow: 5px 3px 1px #000000;

    }

    .metho {
        background: url('/images/TagsImages/frame4.png');
        background-size: cover;
        /*background-position: top;*/
        height: 60vh;
        position: relative;
        cursor: pointer;
    }

    .metho:hover {
        -webkit-filter: grayscale(0.5) blur(0.2px);
    }

    #methoTxt {
        text-decoration-style: solid;
        color: white;
        font-size: 2em;
        margin-top:45vh;
        cursor: pointer;
        top:45vh;
        text-shadow: 5px 3px 1px #000000;

    }

    .library {
        background: url('/images/TagsImages/frame5.png');
        background-size: cover;
        /*background-position: top;*/
        height: 60vh;
        position: relative;
        cursor: pointer;
    }

    .library:hover {
        -webkit-filter: grayscale(0.5) blur(0.2px);
    }

    #libraryTxt {
        text-decoration-style: solid;
        color: white;
        font-size: 2em;
        margin-top:45vh;
        cursor: pointer;
        top:45vh;
        text-shadow: 5px 3px 1px #000000;

    }

    .contact {
        background: url('/images/TagsImages/frame6.png');
        background-size: cover;
        /*background-position: top;*/
        height: 60vh;
        position: relative;
        cursor: pointer;
    }

    .contact:hover {
        -webkit-filter: grayscale(0.5) blur(0.2px);
    }

    #contactTxt {
        text-decoration-style: solid;
        color: white;
        font-size:2em;
        margin-top:45vh;
        cursor: pointer;
        top:45vh;
        text-shadow: 5px 3px 1px #000000;

    }


    #TeamTxt:hover{
        COLOR: saddlebrown;
        TEXT-DECORATION: none;    }
    #ServicesTxt:hover{
        COLOR: saddlebrown;
        TEXT-DECORATION: none;    }
    #methoTxt:hover{
        COLOR: saddlebrown;
        TEXT-DECORATION: none;    }
    #libraryTxt:hover{
        COLOR: saddlebrown;
        TEXT-DECORATION: none;    }
    #contactTxt:hover{
        COLOR: saddlebrown;
        TEXT-DECORATION: none;    }


    #homeMobile{
        display: none;
    }
    #myCarousel {
        display: none;
    }

    .left-half
    {
        width: 100%;
        box-sizing: border-box;
        float: left;
        border: 1px solid #D7D7D7;
        padding: 3px;
    }


}

/**********************Mobile*******************/

@media screen and (max-width: 767px) {
    #homeDesktop{
        display: none;
    }
    #myCarousel {
        height: 70vh;
    }
    .about{
        background: url('/images/First slide.jpg');
        background-size: cover;
        background-position: top;
        height: 88vh;
        position: relative;
        /*-webkit-filter: grayscale(100%);*/
        cursor: pointer;
    }

    .about:hover {
        -webkit-filter: grayscale(100%);

    }

    #aboutTxt {
        text-decoration-style: solid;
        color: #cd4300;
        font-size: large;
        position: absolute;
        right: 110px;
        bottom: 45px;
        left: 10px;
        cursor: pointer;
        top:40vh;
        text-shadow: 5px 3px 1px #000000;
    }



    .team {
        background: url('/images/Building wealth.jpg');
        background-size: cover;
        background-position: top;
        height: 88vh;
        position: relative;
        /*-webkit-filter: grayscale(100%);*/
        cursor: pointer;
    }

    .team:hover {
        -webkit-filter: grayscale(100%);
    }

    #teamTxt {
        text-decoration-style: solid;
        color: #cd4300;
        font-size: large;
        position: absolute;
        right: 110px;
        bottom: 45px;
        cursor: pointer;
        top:40vh;
        text-shadow: 5px 3px 1px #000000;
        left: 10px;

    }


    .methodology {
        background: url('/images/Unlocking oportunity.jpg');
        background-size: cover;
        background-position: top;
        height: 88vh;
        position: relative;
        /*-webkit-filter: grayscale(100%);*/
        cursor: pointer;
    }

    .methodology:hover {
        -webkit-filter: grayscale(100%);
    }


    #methodologyTxt {
        text-decoration-style: solid;
        color: #cd4300;
        font-size: large;
        position: absolute;
        right: 52px;
        bottom: 45px;
        cursor: pointer;
        top:40vh;
        text-shadow: 5px 3px 1px #000000;
        left: 10px;

    }

    .services {
        background: url('/images/Strenghting.jpg');
        background-size: cover;
        background-position: top;
        height: 88vh;
        position: relative;
        /*-webkit-filter: grayscale(100%);*/
        cursor: pointer;
    }

    .services:hover {
        -webkit-filter: grayscale(100%);
    }

    #servicesTxt {
        text-decoration-style: solid;
        color: #cd4300;
        font-size: large;
        position: absolute;
        right: 80px;
        bottom: 30px;
        cursor: pointer;
        top:40vh;
        text-shadow: 5px 3px 1px #000000;
        left: 10px;

    }

    .doc {
        background: url('/images/TagsImages/frame5.png');
        background-size: cover;
        background-position: top;
        height: 88vh;
        position: relative;
        /*-webkit-filter: grayscale(100%);*/
        cursor: pointer;
    }

    .doc:hover {
        -webkit-filter: grayscale(100%);
    }

    #documentsTxt {
        text-decoration-style: solid;
        color:white;
        font-size: x-large;
        position: absolute;
        right: 120px;
        bottom: 45px;
        cursor: pointer;
        top:55vh;
        text-shadow: 5px 3px 1px #000000;
    }

    .contact{
        background: url('/images/TagsImages/frame6.png');
        background-position: center;
        background-size: cover;
        height: 70vh;
        position: relative;
        /*-webkit-filter: grayscale(100%);*/
        cursor: pointer;
    }

    .contact:hover {
        -webkit-filter: grayscale(100%);
    }

    #contactTxt {
        text-decoration-style: solid;
        color: white;
        font-size: x-large;
        position: absolute;
        right: 85px;
        bottom: 75px;
        cursor: pointer;
        top:55vh;
        text-shadow: 5px 3px 1px #000000;
    }

}
