/*Desktop*/
@media screen and (min-width: 767px) {
    #hostRegistrationMobile{
        display: none;
    }
}

/*Mobile*/
@media screen and (max-width: 767px) {
    #hostRegistrationDesktop{
        display: none;
    }
}