/*Desktop*/
@media screen and (min-width: 767px) {
    #ourMethoMobile{
        display: none;
    }

    .standard-left-buttons {
        height: 4em;
        width: 100%;
        color: white;
        border-radius: 15px;
    }
    .standard-left-button-headers {
        margin-left:2em;
        color: white;
    }
    .homepage{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .abt{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ourpeople{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .ourMeth{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .serv{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .docu{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .cntUS{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

}

/*Mobile*/
@media screen and (max-width: 767px) {

    #ourMethoDesktop{
        display: none;
    }
    .standard-left-buttons {
        height: 4em;
        width: 100%;
        color: white;
        border-radius: 15px;
    }
    .standard-left-button-headers {
        margin-left:2em;
        color: white;
    }
    .homepage{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .abt{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ourpeople{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .ourMeth{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .serv{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .docu{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .cntUS{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

}
