/*Desktop*/
@media screen and (min-width: 787px) {
    #TopAboutImage {
        width: 100%;
        height: 75%;
    }
    .topImageMobile{
        display: none;
    }
    #aboutMobile{
        display: none;
    }

    .standard-left-buttons {
        height: 4em;
        width: 100%;
        color: white;
        border-radius: 15px;
    }
    .standard-left-button-headers {
        margin-left:2em;
        color: white;
    }
    .homepage{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ourpeople{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .ourMeth{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .serv{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .docu{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .cntUS{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
}

/*Mobile*/
@media screen and (max-width: 767px) {
    .topImageDesktop{
        display: none;
    }
    #aboutDesktop{
        display: none;
    }
    .standard-left-buttons {
        height: 4em;
        width: 100%;
        color: white;
        border-radius: 15px;
    }
    .standard-left-button-headers {
        margin-left:2em;
        color: white;
    }
    .homepage{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }

    .ourpeople{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .ourMeth{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .serv{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .docu{
        background: saddlebrown;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
    .cntUS{
        background: dimgrey;
        background-position: center;
        background-size: cover;
        border: solid;
        cursor: pointer;
    }
}
